<?xml version="1.0" encoding="utf-8" ?>
<PolyglotConfiguration>
  <nonStandardCultures>
    <!-- Examples -->
    <!-- If the culture code is not being used -->
    <!-- <culture ISOCode="xy" Description="Non-standard 1 (xy)" CultureAlias="xy-XY" /> -->
    <!-- <culture ISOCode="yz" Description="Non-standard 2 (yz)" CultureAlias="yz-YZ" /> -->
    <!-- If the culture code is being used -->
    <!-- <culture ISOCode="xy-XY" Description="Non-standard 1 (xy)" CultureAlias="xy-XY" /> -->
    <!-- <culture ISOCode="yz-YZ" Description="Non-standard 2 (yz)" CultureAlias="yz-YZ" /> -->
  </nonStandardCultures>
</PolyglotConfiguration>
