<?xml version="1.0" encoding="utf-8" ?>
<PolyglotConfiguration>
  <nonStandardCultures>
    <culture ISOCode="n1" Description="Non-standard 1" CultureAlias="Non-standard alias 1" />
    <culture ISOCode="n2" Description="Non-standard 2" CultureAlias="Non-standard alias 2" />
  </nonStandardCultures>
</PolyglotConfiguration>
